<section class="recipe">
  <button ng-show="recipeCtrl.showBtn" ng-click="recipeCtrl.showAddForm()">add a recipe</button>
  <div ng-show="recipeCtrl.showForm" class="add-recipe">
    <form class="add-recipe-form"
          ng-submit="recipeCtrl.createRecipe()"
          novalidate>
      <input class="input-std"
             type="text"
             placeholder="recipe name"
             ng-minlength="4"
             ng-model="recipeCtrl.recipe.recipeName" required>
      <input class="input-std"
             type="text"
             placeholder="recipe description"
             ng-minlength="4"
             ng-model="recipeCtrl.recipe.description" required>
      <input class="input-std"
             type="text"
             placeholder="ingredients"
             ng-minlength="4"
             ng-model="recipeCtrl.recipe.ingredients" required>
      <input class="input-std"
             type="text"
             placeholder="instructions"
             ng-minlength="4"
             ng-model="recipeCtrl.recipe.instructions" required>
      <input class="input-std"
             type="text"
             placeholder="cook time"
             ng-minlength="4"
             ng-model="recipeCtrl.recipe.cookTime" required>
      <input class="input-std"
             type="text"
             placeholder="preparation time"
             ng-minlength="4"
             ng-model="recipeCtrl.recipe.prepTime" required>
      <input class="input-std"
             type="text"
             placeholder="categories"
             ng-minlength="4"
             ng-model="recipeCtrl.recipe.categories" required>
      <input class="input-std"
             type="text"
             placeholder="picture of recipe"
             ng-minlength="4"
             ng-model="recipeCtrl.recipe.recipePicURI" required>
      <input type="submit"
             class="btn-std"
             value="save recipe"
             ng-click="recipeCtrl.hideForm()">
    </form>
  </div>
</section>
