<section class="recipe-item">
  <h2 class="recipe-name">Name: {{recipeItemCtrl.recipe.recipeName}}</h2>
  <img src="{{recipeItemCtrl.recipe.imageURI}}" alt="altimage">
  <div class="description-container">
    <p>Description: {{recipeItemCtrl.recipe.description}}</p>
    <li>Categories {{recipeItemCtrl.recipe.categories.join(' ')}}</li>
  </div>
  <section class="ingredient-section">
    <span>ingredients</span>
  <ul>
    <li ng-repeat="ingredient in recipeItemCtrl.recipe.ingredients"> {{ingredient}}</li>
  </ul>
</section>
  <section class="direction-section">
    <span>Directions</span>
    <ul>
      <li ng-repeat="instruction in recipeItemCtrl.recipe.instructions"> {{instruction}}</li>
    </ul>
    <li>Cook Time: {{recipeItemCtrl.recipe.cookTime}}</li>
    <li>Prep Time: {{recipeItemCtrl.recipe.prepTime}}</li>
  </section>

  <upload-pic recipe="recipeItemCtrl.recipe"></upload-pic>
  <edit-recipe recipe="recipeItemCtrl.recipe"></edit-recipe>
  <button ng-click="recipeItemCtrl.deleteRecipe()">delete recipe</button>

  <ul>
    <li ng-repeat="comment in recipeItemCtrl.recipe.comments">
      <comment-item comment="comment"></comment-item>
    </li>
  </ul>
  <!--<comment-item recipe="recipeItemCtrl.recipe"></comment-item>-->
  <create-comment recipe="recipeItemCtrl.recipe"></create-comment>
</section>
