@import "../../../scss/lib/theme/vars";


.search {
  font-family: $font-secondary;
  width: 100%;
  display: block;
  height: 40px;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  border: 0;
  padding-left: 10px;
}
