@import "../../../scss/lib/theme/vars";

h2 {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

h3 {
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-family: $font-std;
}

.profile-view img {
  width: 200px;
  height: 200px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

button {
  font-family: $font-secondary;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  color: $white;
}