<section class="profile-view">
  <div ng-if="!profileViewCtrl.showEditView">

    <h3>{{profileViewCtrl.profile.name}}</h3><br>
    <img ng-src="{{profileViewCtrl.profile.profilePicURI}}">

  </div>
  <input class="btn-std" value="edit profie" type="submit" id="edit-button" ng-if="!profileViewCtrl.showEditView" ng-click="profileViewCtrl.showEditView = true">
  <edit-profile ng-if="profileViewCtrl.showEditView" on-profile-updated="profileViewCtrl.updateProfileView()" profile="profileViewCtrl.profile"></edit-profile>
</section>
