.recipe-tile{
  width:100vw;
  height:48vh;
  margin-bottom: 2vh;
  // background:url();
  background-size: cover;
  position: relative;

  img{
    height: 100%;
    width: 100%;
  }
  .span-container{
    height: 100px;
    width: 100%;
    line-height: 140px;
    background: rgba(0,0,0, 0.2);
    position: absolute;
    bottom: 0;
    overflow: hidden;
    span{
     color: white;
     font-size: 125%;
     display: block;
     height: 40px;
     line-height: 60px;
     padding-left: 30px;
     padding-right: 30px;
    }
     .desc{
        // color: black;
    }
  }
}
