<section class="edit-profile">
  <form class="edits"
    ng-submit="editProfileCtrl.edit(editProfileCtrl.user)"
    novalidate>

    <h3>Edit your profile.</h3>

    <fieldset>
      <span class="item-label">Name:</span>
      <input type="name" class="input-std" type="text"
        ng-model="editProfileCtrl.profile.name">
    </fieldset>

    <div>
      <p class="grab-img"
        ngf-select
        ng-model="uploadProfilePicCtrl.pic.file">

        Click to select a profile pic

      </p>

      <button class="btn-std">Upload</button>

  </form>
</section>
