<section class="edit-profile">
  <form ng-submit="editProfileCtrl.editProfile()"
    novalidate>

    <h3>Edit your profile.</h3>
THE PROFILE {{editProfileCtrl.profile}}
    <fieldset>
      <span class="item-label">Name:</span>
      <input type="name" class="input-std" type="text"
        ng-model="editProfileCtrl.profile.name" placeholer="name">
    </fieldset>
    <button>update profile</button>
  </form>


  <form
     ng-submit="editProfileCtrl.uploadProfilePic()"
     novalidate>

    <div>
      <p
        class="grab-img"
        ngf-select
        ng-model="editProfileCtrl.pic">

        Click to select a profile pic

      </p>
      <p>{{editProfileCtrl.pic}}</p>


      <img ng-src="{{editProfileCtrl.pic}}" alt="profile photo">

      <button class="btn-std">Upload</button>
    </div>
  </form>
</section>
