<section ng-init="showCreateBtn = true" class="create-recipe">
  <button ng-show="showCreateBtn" ng-click="showCreateBtn = false">add a recipe</button>
  <div ng-show="!showCreateBtn" class="add-recipe">
    <form name="createRecipeForm"
          ng-submit="createRecipeCtrl.createRecipe()"

          novalidate>

      <div>
      <input class="input-std"
             name="name"
             type="text"
             placeholder="recipe name"
             ng-minlength="4"
             ng-model="createRecipeCtrl.recipe.recipeName" required>
      <label for=""></label>
      <div class="requirements">

      </div>
    </div>

      <div>
      <input class="input-std"
             name="desc"
             type="text"
             placeholder="recipe description"
             ng-minlength="4"
             ng-model="createRecipeCtrl.recipe.description" required>
      <label for=""></label>
      <div class="requirements">

      </div>
    </div>

      <div>
      <input class="input-std"
             name="ingredients"
             type="text"
             placeholder="ingredients"
             ng-minlength="2"
             ng-model="createRecipeCtrl.recipe.ingredients" ng-list required>
      <label for=""></label>
      <div class="requirements">

      </div>
    </div>

      <div>
      <input class="input-std"
             name="instructions"
             type="text"
             placeholder="instructions"
             ng-minlength="2"
             ng-model="createRecipeCtrl.recipe.instructions" ng-list required>
      <label for=""></label>
      <div class="requirements">

      </div>
    </div>

      <div>
      <input class="input-std"
             name="prep"
             type="text"
             placeholder="preparation time (minutes)"
             ng-minlength="1"
             ng-model="createRecipeCtrl.recipe.prepTime" required>
      <label for=""></label>
      <div class="requirements">

      </div>
    </div>

      <div>
      <input class="input-std"
             name="cook"
             type="text"
             placeholder="cook time (minutes)"
             ng-minlength="1"
             ng-model="createRecipeCtrl.recipe.cookTime" required>
      <label for=""></label>
      <div class="requirements">

      </div>
    </div>

      <div>
      <input class="input-std"
             name="cats"
             type="text"
             placeholder="categories"
             ng-minlength="1"
             ng-model="createRecipeCtrl.recipe.categories" required>
    </div>
      <label for=""></label>
      <div class="requirements">

      </div>
      <input type="submit"
             class="btn-std"
             value="save recipe"
             ng-click="showCreateBtn = true"
             ng-disabled="createRecipeForm.$invalid">
    </form>
  </div>
</section>
