<section ng-init="showCreateBtn = true" class="create-recipe">
  <input class="btn-std commenter-button" value="add a recipe" type="submit" ng-show="showCreateBtn" ng-click="showCreateBtn = false">
  <div ng-show="!showCreateBtn" class="add-recipe">
    <form name="createRecipeForm"
          ng-submit="createRecipeCtrl.createRecipe()"

          novalidate>

      <div>
      <input class="input-std ignore-valid"
             name="name"
             type="text"
             placeholder=" "
             ng-minlength="4"
             ng-model="createRecipeCtrl.recipe.recipeName" required>
      <label for="name">Recipe Name</label>
    </div>

      <div>
      <input class="input-std ignore-valid"
             name="desc"
             type="text"
             placeholder=" "
             ng-minlength="4"
             ng-model="createRecipeCtrl.recipe.description" required>
      <label for="desc">Description</label>
    </div>

      <div>
      <input class="input-std ignore-valid"
             name="ingredients"
             type="text"
             placeholder=" "
             ng-minlength="2"
             ng-model="createRecipeCtrl.recipe.ingredients" ng-list required>
      <label for="ingredients">Ingredient 1, Ingredient2, ect...</label>
    </div>

      <div>
      <input class="input-std ignore-valid"
             name="instructions"
             type="text"
             placeholder=" "
             ng-minlength="2"
             ng-model="createRecipeCtrl.recipe.instructions" ng-list required>
      <label for="instruction">Direction 1, Direction 2, ect...</label>
    </div>

      <div>
      <input class="input-std ignore-valid"
             name="prep"
             type="text"
             placeholder=" "
             ng-minlength="1"
             ng-model="createRecipeCtrl.recipe.prepTime" required>
      <label for="prep">Prep Time (5 mins)</label>
    </div>

      <div>
      <input class="input-std ignore-valid"
             name="cook"
             type="text"
             placeholder=" "
             ng-minlength="1"
             ng-model="createRecipeCtrl.recipe.cookTime" required>
      <label for="cook">Cook Time (20 mins)</label>
    </div>

      <div>
      <input class="input-std ignore-valid"
             name="cats"
             type="text"
             placeholder=" "
             ng-minlength="1"
             ng-model="createRecipeCtrl.recipe.categories" required>
      <label for="cats">Mexican, Indian, ect...</label>
      <div class="requirements">

      </div>
    </div>
      <input type="submit"
             class="btn-std"
             value="save recipe"
             ng-click="showCreateBtn = true"
             ng-disabled="createRecipeForm.$invalid">
    </form>
  </div>
</section>
<div class="clearfix">
