<section ng-init="showCreateBtn = true" class="create-recipe">
  <button ng-show="showCreateBtn" ng-click="showCreateBtn = false">add a recipe</button>
  <div ng-show="!showCreateBtn" class="add-recipe">
    <form name="createRecipeForm"
          ng-submit="createRecipeCtrl.createRecipe()"
          novalidate>
      <input class="input-std"
             name="name"
             type="text"
             placeholder="recipe name"
             ng-minlength="4"
             ng-model="createRecipeCtrl.recipe.recipeName" required>
      <span ng-show="createRecipeForm.name.$invalid && createRecipeForm.name.$touched">Please enter a name for your recipe.</span>
      <input class="input-std"
             name="desc"
             type="text"
             placeholder="recipe description"
             ng-minlength="4"
             ng-model="createRecipeCtrl.recipe.description" required>
      <span ng-show="createRecipeForm.desc.$invalid && createRecipeForm.desc.$touched">Please enter a description.</span>
      <input class="input-std"
             name="ingredients"
             type="text"
             placeholder="ingredients"
             ng-minlength="2"
             ng-model="createRecipeCtrl.recipe.ingredients" ng-list required>
      <span ng-show="createRecipeForm.ingredients.$invalid && createRecipeForm.ingredients.$touched">Please enter at least two ingredients separated by commas.</span>
      <input class="input-std"
             name="instructions"
             type="text"
             placeholder="instructions"
             ng-minlength="2"
             ng-model="createRecipeCtrl.recipe.instructions" ng-list required>
      <span ng-show="createRecipeForm.instructions.$invalid && createRecipeForm.instructions.$touched">Please enter at least two instructions separated by commas.</span>
      <input class="input-std"
             name="prep"
             type="text"
             placeholder="preparation time (minutes)"
             ng-minlength="1"
             ng-model="createRecipeCtrl.recipe.prepTime" required>
      <span ng-show="createRecipeForm.prep.$invalid && createRecipeForm.prep.$touched">Please enter prep time in minutes.</span>
      <input class="input-std"
             name="cook"
             type="text"
             placeholder="cook time (minutes)"
             ng-minlength="1"
             ng-model="createRecipeCtrl.recipe.cookTime" required>
      <span ng-show="createRecipeForm.cook.$invalid && createRecipeForm.cook.$touched">Please enter cook time in minutes.</span>
      <input class="input-std"
             name="cats"
             type="text"
             placeholder="categories"
             ng-minlength="1"
             ng-model="createRecipeCtrl.recipe.categories" required>
      <span ng-show="createRecipeForm.cats.$invalid && createRecipeForm.cats.$touched">Please select at least one category.</span>
      <input type="submit"
             class="btn-std"
             value="save recipe"
             ng-click="showCreateBtn = true"
             ng-disabled="createRecipeForm.$invalid">
    </form>
  </div>
</section>
