@import "../../../scss/lib/theme/vars";


.commentItem {
  font-family: $font-std;
  margin-left: 5%;
  background-color: white;
  width: 90%;
  border-bottom: 1px solid #ccc;

  button {
    width: 20%;
    height: 30px;
    background-color: #BFD8D2;
    border: none;
    border-radius: 5%;

    &.first {
      margin-left: 55%;
    }

    &:hover {
      background-color: white;
      border: 1px solid #DF744A;
      color: #DF744A;
    }
  }
}

.profimg {
  padding: 0;
  overflow: hidden;
  display: block;
  margin-top: 10px;
  max-width: 50px;
  max-height: 50px;
  border: 1px solid black;
  display: inline-block;
}

.commenter-name{
  padding-left: 10px;
  display: inline-block;
}

.commenter-button{
  width: 40%;
  margin: 10px 5% 10px 5%;
  float: left;
}

.posted-by{
  margin-top: 10px;
  display: block;
  clear: both;
}
