.commentItem {
/*   display: block; */
  margin-left: 5%;
  background-color: white;
  width: 50%;
  height: 100px;
  border: 1px solid black;

  button {
    // margin-top: 6%;
    // margin-left: 2%;
    width: 20%;
    height: 30px;
    background-color: orange;
    border: none;
    border-radius: 5%;
    &.first {
      margin-left: 55%;
    }


    &:hover {
      background-color: white;
      border: 1px solid orange;
      color: orange;
    }
  }
}
